<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251629179947-f0q85jd03p7alejuop9cgft0u72g8317.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251629179947-f0q85jd03p7alejuop9cgft0u72g8317</string>
	<key>API_KEY</key>
	<string>AIzaSyCi6SyhcJOljP4asibn-cacn22cODoh3N4</string>
	<key>GCM_SENDER_ID</key>
	<string>251629179947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dineshdanda.Real-Chat</string>
	<key>PROJECT_ID</key>
	<string>real-chat-7abf9</string>
	<key>STORAGE_BUCKET</key>
	<string>real-chat-7abf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251629179947:ios:5382113cc84bfccafb066e</string>
	<key>DATABASE_URL</key>
	<string>https://real-chat-7abf9.firebaseio.com</string>
</dict>
</plist>